{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form class="user" action="{{ url_for('login') }}" method="POST">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        {{ render_field(form.email, class="form-control form-control-user",
                                        placeholder="Enter your email address..." ) }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form.password, class="form-control form-control-user",
                                        placeholder="Password")}}
                                    </div>
                                    {{ form.submit(class="btn btn-primary btn-user btn-block") }}
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ url_for('register') }}">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}