{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user" action="{{ url_for('register') }}" method="POST">
                            <div class="form-group row">
                                {{ form.csrf_token }}
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{render_field(form.first_name, class="form-control
                                    form-control-user", placeholder="First Name")}}
                                </div>
                                <div class="col-sm-6">
                                    {{ render_field(form.last_name, class="form-control form-control-user",
                                    placeholder="Last Name")}}
                                </div>
                            </div>
                            <div class="form-group">
                                {{form.gender.label }}
                                {{ render_field(form.gender) }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.birth_date, class="form-control form-control-user") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.phone, class="form-control form-control-user",
                                placeholder="Enter your phone number") }}
                            </div>
                            <div class="form-group">
                                {{ render_field(form.email, class="form-control form-control-user",
                                placeholder="Enter your email") }}
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ render_field(form.password, class="form-control form-control-user" ,
                                    placeholder="Enter your password") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ render_field(form.confirm_password, class="form-control form-control-user" ,
                                    placeholder="Confirm your password") }}
                                </div>
                            </div>
                            {{ render_field(form.submit, class="btn btn-primary btn-user btn-block") }}
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="forgot-password.html">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ url_for('login') }}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

